<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 footer-title">
        <div>
          <h4>sharry</h4>
        </div>
          <p>Euratechnologies</p>
          <p>165 Avenue de Bretagne</p>
          <p>59000 Lille</p>
          <p>+33 637 69 13 29</p>
        </div>
      <div class="col-xs-12 col-sm-3">
        <div class="footer-title">
          <h4>Housing</h4>
        </div>
        <div class="footer-links">
          <%= link_to "Living at sharry's", living_path %>
        </div>
        <div class="footer-links">
          <%= link_to "Design", design_path %>
        </div>
        <div class="footer-links">
          <%= link_to "Investor", investor_path %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="footer-title">
          <h4>Company</h4>
        </div>
        <div class="footer-links">
          <%= link_to "Join sharry", home_path %>
        </div>
        <div class="footer-links">
          <%= link_to "About us", about_path %>
        </div>
        <div class="footer-links">
          <a href="mailto:hello@sharry.co" title="hello@sharry.co">Contact us</a>
        </div>
        <div class="footer-links">
          <a href="https://www.facebook.com/sharry.co/" target="_blank">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
          <a href="#" target="_blank"><i class="fab fa-medium fa-lg"></i></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="footer-title">
          <h4>Partners</h4>
        </div>
        <div class="footer-links">
          <a href="https://www.euratechnologies.com" target="_blank" class="partner-brand">
            <%= image_tag "https://www.euratechnologies.com/content/themes/euratechnologies/assets/img/euratechnologies-logo-white.svg", id: "logo" %>
          </a>
          <a href="https://www.levillagebyca.com/fr/village/nord-de-france" target="_blank" class="partner-brand">
            <%= image_tag "https://www.levillagebyca.com/themes/custom/levillage/logo-black.svg", id: "logoca" %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
