<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-2 footer-title">
        <h3>sharry</h3>
      </div>
      <div class="col-xs-6 col-sm-2 footer-title">
        <h3>What we do</h3>
      </div>
      <div class="col-xs-6 col-sm-2 footer-title">
        <h3>Company</h3>

      </div>
      <div class="col-xs-6 col-sm-2 footer-title">
        <h3>Follow us</h3>

      </div>
      <div class="col-xs-6 col-sm-2 footer-title">
        <h3>Partners</h3>

      </div>
    </div>


    <div class="row">
      <div class="col-xs-6 col-sm-2 footer-title">
        <p class="">Euratechnologies</p>
        <p class="">165 Avenue de Bretagne</p>
        <p class="">59000 Lille</p>
      </div>
      <div class="col-xs-6 col-sm-2">
        <%= link_to "Living at sharry's", living_path, class: "footer-links" %>
        <%= link_to "Design", design_path, class: "footer-links" %>
      </div>
      <div class="col-xs-6 col-sm-2">
        <%= link_to "About us", about_path, class: "footer-links" %>
        <%= link_to "Join sharry", home_path, class: "footer-links" %>
        <%= link_to "Contact us", home_path, class: "footer-links" %>
      </div>
      <div class="col-xs-6 col-sm-2">
        <div class="footer-links">
          <a href="https://www.facebook.com/sharry.co/" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fab fa-medium"></i></a>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2">
        <h3>Partners</h3>

      </div>
    </div>
  </div>
</div>
